// Noto Sans - Google FOnt
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');
// Application Color palette
@import './palette.scss';
// Utilities
@import './utils.scss';


body {
    position: relative;
    background-color: $primary-color;
    font-family: 'Noto Sans', sans-serif;

    header {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 20px 120px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: fixed;
        background-color: $primary-color;
        transition: 250ms ease-in-out;

        #getpay-logo {
            width: 80px;
        }

        nav {
            transition: 250ms ease-in-out;

            ul {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;

                li {
                    margin-right: 70px;

                    &:last-child {
                        margin: 0;
                    }

                    a.link {
                        color: $base-color;
                        -webkit-transition: 200ms ease-in;
                        -o-transition: 200ms ease-in;
                        transition: 200ms ease-in;

                        &:hover {
                            color: $secondary-color;
                        }
                    }
                }
            }
        }
    }

    main {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 190px 220px 140px 220px;

        .main-content {
            width: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-flow: column;
            flex-flow: column;

            h1 {
                max-width: 700px;
                min-width: 550px;
                margin-bottom: 20px;
                font-size: 62px;
                text-transform: uppercase;
                letter-spacing: 3px;
                color: $base-color;
                font-weight: map-get($font-weight, Regular);
            }

            p {
                max-width: 650px;
                margin-bottom: 40px;
                font-size: 20px;
                color: $base-color;
            }
        }

        .image-content {
            width: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            img {
                width: 450px;
            }
        }
    }

    #info-section {
        width: 100%;
        padding: 120px 180px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: $secondary-color;

        .info-card {
            width: 15%;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-flow: column;
            flex-flow: column;
            margin: 40px 80px;
            text-align: center;

            .icon {
                width: 140px;
                height: 140px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                border-radius: 50%;
                background-color: $base-color;

                img {
                    width: 70px;
                }
            }

            p {
                margin-top: 40px;
                width: 220px;
                color: $base-color;
                text-align: center;
                font-size: 18px;
            }

            span {
                color: $primary-color;
                font-weight: map-get($font-weight, "Bold");
            }
        }
    }
}